<app-header></app-header>
<div class="row">
  <div class="col-12 ml-3 mr-3 mt-4">
    <div class="row">
      <div class="col-12 mt-3">
        <div class="row">
          <div class="col-sm-12">
            <h4>Disco duro de mdata en servidor de aplicacion</h4>
            <a
              class="btn btn-success"
              href="{{ urldescargadhh }}"
              id="descargaDisco"
              >CSV</a
            >
          </div>
          <div class="col-sm-7">
            <app-hdd></app-hdd>
          </div>
          <div class="col-sm-5" style="height: 300px; width: 300px;">
            <app-hddpie></app-hddpie>
          </div>
        </div>
      </div>

      <div class="col-sm-12 mt-3">
        <h4>Recursos Servidor de aplicacion</h4>
        <!-- Button trigger modal -->

        <div class="row">
          <div class="col-12">
            <button
              type="button"
              class="btn btn-success"
              data-toggle="modal"
              data-target="#exampleModal"
            >
              CSV
            </button>
          </div>
        </div>


        <div class="collapse" id="filtro_cpuapp">
          <div class="card card-body mt-2">
            <div class="row">
              <div class="col-sm-3">
                <input
                  class="form-control"
                  type="number"
                  value="1"
                  id="example-number-input"
                />
              </div>
              <div class="col-sm-3">
                <input
                  class="form-control"
                  type="number"
                  value="1"
                  id="example-number-input"
                />
              </div>
              <div class="col-sm-3">
                <input
                  class="form-control"
                  type="number"
                  value="1"
                  id="example-number-input"
                />
              </div>
              <div class="col-sm-3">
                <input
                  class="form-control"
                  type="date"
                  value="2011-08-19"
                  id="example-date-input"
                />
              </div>

              <div class="col-sm-12 mt-2">
                <button
                  type="button"
                  class="btn btn-success float-right"
                  data-dismiss="modal"
                >
                  Filtrar
                </button>
                <button
                  type="button"
                  class="btn btn-secondary mr-3 float-right"
                  data-dismiss="modal"
                >
                  Limpiar
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Historial de recursos por fecha
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Escoja la fecha para descargar</p>
                <p>
                  <input
                    id="fecha"
                    type="date"
                    min="2020-05-30"
                    max="{{ fecha_fin }}"
                    value="{{ fecha_hoy }}"
                    [(ngModel)]="fecha_hoy"
                    (change)="cambiodeenlace()"
                  />
                </p>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <a href="{{ urldescargacpu }}" class="btn btn-primary"
                  >Descargar</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 mt-3">
        <app-cpu></app-cpu>
      </div>
      <div class="col-sm-12 mt-3">
        <h4>Sensor de servicios</h4>
      </div>
      <div class="col-sm-12 mt-3">
        <app-sensor></app-sensor>
      </div>
      <div class="col-sm-12 mt-3">
        <h4>Recursos servidor de base de datos</h4>
      </div>
      <div class="col-sm-12 mt-3">
        <app-dbb></app-dbb>
      </div>
      <div class="col-sm-12 mt-3">
        <h4>Usuarios y acciones</h4>
      </div>
      <div class="col-sm-12 mt-3">
        <app-usermoodle></app-usermoodle>
      </div>
      <div class="col-sm-12 mt-3">
        <h4>Usuarios por dia</h4>
      </div>
      <div class="col-sm-12 mt-3">
        <app-userperday></app-userperday>
      </div>
    </div>
  </div>
</div>
